@{
    ViewBag.Title = "Registration Successful";
}

<h2>Registration Successful</h2>
<p>Your account has been created successfully!</p>

<div>
    <br />
    <a href="@Url.Action("Login", "Account")">Click here to Login</a>
</div>