 @model bool

@if(Model)
{
<div class="alert alert-success">
    <p>@TempData["success"]</p>
</div>
<h1> Success </h1>
}
@if(Model == false ) 
{
    <h7 style="color:red"> Error occured : Failed to perform the operation </h7>
}

<div>
    <br />
    <a href="@Url.Action("RSAEncryptDecryptIndex", "Encryption")">Back</a>
</div>