@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}


@{
    ViewBag.Title = "Home";
}

<div class="hero">
    <h1>MyApp</h1>
  
    <a class="btn btn-primary btn-lg" href="/About">More Details </a>
</div>

<div class="row mt-5">
    <div class="col-md-4">
        <h2>Feature One</h2>
        <p>Description of feature one.</p>
        <a class="btn btn-secondary" href="#">View Details</a>
    </div>
    <div class="col-md-4">
        <h2>Feature Two</h2>
        <p>Description of feature two.</p>
        <a class="btn btn-secondary" href="#">View Details</a>
    </div>
    <div class="col-md-4">
        <h2>Feature Three</h2>
        <p>Description of feature three</p>
        <a class="btn btn-secondary" href="#">View Details</a>
    </div>
</div>

